body{
    background-image: url("./resta.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    border: red;
}
.welcome{
    border: 5px solid red;
    height: 15%;
    width: 15%;
    border-radius: 15%;
    margin: 2%;
    margin-left: 5%;
    padding: 1%;
    background: black;
    color: white;
}
.home{
    border: 5px solid red;
    height: 15%;
    width: 15%;
    border-radius: 15%;
    padding: 1%;
    background: black;
    color: white;
    margin: left;
    margin-left: 40%;
    margin-top: -6%;
} 

.email{border: 5px solid red;
    height: 15%;
    width: 15%;
    border-radius: 15%;
    padding: 1%;
    background: black;
    color: white;
    margin-left: 75%;
    margin-top: -5%;
    
}
.h{
    
    margin-right: 200px;
} 
.form{
    border: dotted red;
    height: 500px;
    width: 200px;
    
    padding: 9%;
    
    color: red;
    margin-left: 43%;
    margin-top: 10%;
    border top: 10px;
    

}
.center{
    color: black;
    border: 5px solid red;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 20px;
    justify-content: space-around;
    flex-direction: row;
    display: block;
    text-decoration: black underline;
    background: green;
    margin-left: 60px;
    margin-top: -430px;
}
.menu{ border: 5px solid red;
    height: 15%;
    width: 15%;
    border-radius: 15%;
    margin-left: 450px;
    margin-top: 200px;
    padding: 1%;
    background: black;
    color: white;
    justify-content: center;

}
.abc{
    text-align: center;
    height: 250px;
    width: 350px;
    margin: 25px;
    border-radius: 32px;
    border: 2px solid red;
    background: aqua;
    /* justify-content: space-evenly; */

    
}
.abcd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .a{
    display: inline; */
}
.b{
    /* display: flex; */
}

